.container {
  flex-basis: 25%;
  border-radius: 10px;
  min-height: 70vh;
  background-image: url('../assets/images/bg-sidebar-desktop.svg');
  background-size: cover;
  object-fit: cover;
}
.list {
  padding: 15px;
  padding-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}
a {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-left: 0.5rem;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
}

a:hover,
a.active {
  color: black;
  background-color: hsl(217, 100%, 97%);
}
.head5 {
  color: hsl(231, 11%, 63%);
  margin: 2px;
}

.sideName {
  color: hsl(229, 24%, 87%);
  margin: 2px;
}
