.sum-content {
  margin-top: 30px;
  .sum {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    .btn-change {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  #no-background {
    background: none;
  }
}
