.plan {
  display: flex;
  margin: 15px 0px;
  gap: 0.5rem;
  justify-content: space-between;
}
.plan-item {
  border: 1px solid hsl(229, 24%, 87%);
  padding: 15px;
  border-radius: 10px;
  flex-basis: 30%;
}
.plan-item img {
  margin-top: 10px;
  margin-bottom: 20px;
}
.plan-item h3 {
  color: hsl(213, 96%, 18%);
  margin: 10px 0px 5px 0px;
}

.free {
  margin-top: 5px;
  color: blue;
}

.select-plan {
  margin: 30px 0px;
  padding-top: 10px;
  position: relative;
  width: 60%;
  margin: 0 auto;
}
.select-plan button {
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0px 5px;
}
.select-plan div {
  margin: 0 auto;
}
.click-btn {
  display: inline-block;
}
.click-btn span {
  padding-left: 2px;
  padding-right: 40px;
  background-color: hsl(213, 96%, 18%);
  color: white;
  font-size: 1rem;
  border-radius: 15px;
}
