@import url('./styles/aside.scss');
@import url('./styles/home.scss');
@import url('./styles/pick.scss');
@import url('./styles/plan.scss');
@import url('./styles/recur.scss');
@import url('./styles/summary.scss');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  background-color: hsl(206, 94%, 87%);
}
main {
  display: flex;
  gap: 7%;
  margin: 0 auto;
  height: 80vh;
  margin-top: 4rem;
  padding: 2rem;
  padding-bottom: 4rem;
  width: 90%;
  max-width: 1000px;
  background-color: white;
  border: none;
  border-radius: 1rem;
}

.wrapper {
  flex-shrink: 20;
  width: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.finish {
  text-align: center;
}

/* for purplish blue */
.pblue {
  color: hsl(243, 100%, 62%);
}

@media (max-width: 770px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 100%;
  }
  main {
    display: block;
    background-color: hsl(206, 94%, 87%);
    margin-top: 0px;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  .wrapper {
    width: 90%;
    background-color: white;
    padding-bottom: 4rem;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 1rem;
  }
}
